DATABASE_HOST=postgres 
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=kavach 
DATABASE_PORT=5432 
DATABASE_SSL_MODE=disable
KETO_URL=http://keto:4466
KRATOS_ADMIN_URL=http://kratos:4434
MODE=development
IMAGEPROXY_URL=http://127.0.0.1:7001
USE_SQLITE=true
SQLITE_DB_PATH=kavach.db