.organisation-descriptions-header {
  display: flex;
  align-items: center;
  height: 36px;
  margin-bottom: 20px;
}

.organisation-descriptions-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: auto;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}


.organisation-title-main {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 0;
}

.organisation-table-label {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.88);
}

.organisation-margin-top {
  margin-top: 34px;
}

.organisation-setting-heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.88);
  margin-bottom: -2px;
}

.organisation-policies-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: auto;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.organisation-policies-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.organisation-policy .ant-card-head{
  min-height: 32px;
  border-bottom: none;
  padding: 0;
}

.organisation-policy .ant-card-body{
  padding: 24px 0;
}