COMPANION_GOOGLE_KEY=<GOOGLE KEY>
COMPANION_GOOGLE_SECRET=<GOOGLE SECRET>
COMPANION_AWS_ENDPOINT=http://localhost:9000
COMPANION_AWS_BUCKET=dega
COMPANION_AWS_KEY=miniokey
COMPANION_AWS_SECRET=miniosecret
COMPANION_DOMAIN=localhost:3020
COMPANION_PROTOCOL=http
COMPANION_DATADIR=/
COMPANION_SELF_ENDPOINT=localhost:3020
NODE_ENV=dev