DATABASE_HOST=postgres 
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=kavach 
DATABASE_PORT=5432 
DATABASE_SSL_MODE=disable
KETO_URL=http://keto:4466
KETO_WRITE_API_URL=http://keto:4467
KETO_READ_API_URL=http://keto:4466
KRATOS_ADMIN_URL=http://kratos:4434
KRATOS_PUBLIC_URL=http://kratos:4433  
MODE=development
IMAGEPROXY_URL=http://127.0.0.1:7001
USE_SQLITE=false
SQLITE_DB_PATH=kavach.db
SENDGRID_API_KEY=API-KEY
DOMAIN_NAME=http://127.0.0.1:4455/.factly/kavach/web # development mode
DYNAMIC_FROM_EMAIL='kavach'
MANDE_HOST=http://mande.factly.in
DYNAMIC_MANDE_TEMPLATE_ID=1
DYNAMIC_EMAIL_ENABLED=false
DYNAMIC_SENDGRID_API_KEY=API-KEY
ENABLE_MULTITENANCY=true
DISABLE_REGISTRATION=false
SUPER_USER_EMAIL=kavach-develop@factly.in
APPLICATION_NAME=Kavach
DEFAULT_USER_EMAIL=default-email
DEFAULT_USER_PASSWORD=default-password
DEFAULT_ORGANISATION_NAME=FACTLYADMIN


