{
  "extends": [
      "react-app",
      "plugin:prettier/recommended"
  ],
  "env": {
      "es6": true
  },
  "rules": {
      // don't force es6 functions to include space before paren
      "space-before-function-paren": 0,
      // allow specifying true explicitly for boolean props
      "react/jsx-boolean-value": 0,
      "prettier/prettier": "error",
      "react/jsx-indent": 0,
      "react/jsx-indent-props": 0
  }
}